.spinner {
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* i {
  width: 100px;
} */

.fa-spinner {
  font-size: 40px;
}
